$bg-color: #333;
$font-color: #fff;
$primary-color: #28a745;
$dark-overlay:rgba(000, 000, 000, 0.5);
body {
    background: $bg-color;
    color: $font-color;
    
}
body,html{
    overflow-x: hidden !important
}

.form-control {
    background: transparent !important;
    border: none !important;
    color: white;
    border-bottom: 1px solid white !important;
    border-radius: 5px !important;
}

.navbar {
    border-bottom: 3px solid $primary-color;
    opacity: 0.8;
    a {
        color: white
    }
    a:hover {
        color: $primary-color;
    }
}

.nav-links {
    color: $font-color
}

#home {
    background: url('../img/home.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
    position: relative;
    .overlay {
        background-color: $dark-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 700px;
    }
    .card-form {
        background-color: $primary-color
    }
}

.custom-list {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: transparent;
    border: none;
    .list-group-item {
        background-color: transparent;
        border: none;
    }
    span {
        background-color: $primary-color
    }
}



#contact {
    background: url('../img/contact.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}
footer h3,.modal-header{
    color: $primary-color
}